*{
    margin: 0;
    padding: 0;
    font-family: 'work Sans', sans-serif;
}
/* common text color */
.text-primary{
    color: #FFFFFF;
}
/* header  */
.btn-header{
    color: rgb(54, 54, 255);
    width: 120px;
    height: 50px;
    left: 1210px;
    top: 578px;
    border-radius: 5px;
    background: #FFFFFF;
    margin-top: 24px;
    border:none;

}
.header-section{
    width: 100%;
    height: 808px;
    background-image: url('../images/banner/banner3.png');
    background-size: cover;
  
}
/* navigation css start here */
nav {
    display: flex;
    /* justify-content: space-between; */
    padding: 50px 82px;
}
nav >ul {
    display: flex;
    align-items: flex-start;
  margin-left: 450px;
}

nav li {
    list-style: none;
    margin-left: 50px;
   
}
nav li .drop-down{
    display: none;
} 
.drop-down li{
    padding: 10px;
}
nav li:hover{
    background-color:rgb(131, 131, 255);

}
nav ul :hover .drop-down {
    position:absolute;
    display: block;
    background-color:rgb(77, 77, 77);
    /* opacity: 50%; */
}
.nav-title {
    display: flex;
    font-weight: 800;
    font-size: 45px;
   
   
}

.header-section{
    position: relative;
}
/* banner portion start here */
.banner{
    font-style: normal;
    position: absolute;
    left: 745px;
    top: 216px;
  margin-right: 230px;
    text-align: right;
    width: 525px;
}
.banner-title{
   margin-top: 24px;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;    
}
.banner-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

a{
    text-decoration: none;
}
/* main section css is here */
main {
    max-width: 1140px;
    margin: 0 auto;
}
/* failer section  */
.failer-section{
    display: flex;
    margin-top: 100px;
}
.failer{
    display: flex;
    flex-direction: column;
   gap: 10px;
   margin-top: 250px;
   width: 416px;
   height: 400px;

 
}
.failer-title{
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
   
}
.failer-description{
    font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #444343;
}
.failer-list{
    width: 349px;
    height: 162px;
    left: 848px;
    top: 1415px;
    color: #444343;
}
ul {
    list-style: none;
  }
.failer-list ul li:before {
    content: '✓';
    color:rgb(91, 91, 255);
  }
  /* css for plan section */
.plans{
    margin-top: 100px;
    text-align: center;
}
  .plans-container{
    display: flex;
    justify-content: space-between;
    
}
.plans-title{
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 50px;
}
.plan{
    padding: 30px;
}
.plan-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.plan-description{
    color: #757575;
}
/* css for call now portion */
.call-now{
    width: 1140px;
    height: 300px;
    left: 230px;
    top: 2221.96px;
    border-radius: 8px;
    background-image:url('../images/gradient1.png'), url('../images/watch.png');
    background-blend-mode: multiply;
}
.call-now-title{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}
.info{
    position:relative;
    margin: 69px;
    width: 459px;
    height: 182px;
    left: 64px;
    top: 69px;
}
/* footer will start here */
footer{
    margin-top: 69px;
    width: 100%;
    height: 577px;
    background-color: black;
}
.footer{
    display: flex;
    padding: 130px  845px 130px 230px;
}
.footer-descripton{
    width: 485px;
    font-weight: 400;
font-size: 16px;
line-height: 26px;
}
/* contract section is here */
.contact-section{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.footer-btn{
    color:#FFFFFF;
    width: 120px;
    height: 50px;
    left: 1210px;
    top: 578px;
    border-radius: 5px;
    background: rgb(54, 54, 255);
    
    border: none;
}
/* subscribe section */
.subscribe-section{
    padding: 0px 223px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
input{
    background-color: black;
    padding: 5px;
    color: #FFFFFF;
    border-radius: 5px;
    border:0.01px solid white;
    
    
}